#trade-securely {
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
}

#trade-securely .container {
    padding-top: 316px;
}

#trade-securely .h2 {
    text-align: center;
}

#trade-securely .container {
    padding-bottom: 120px;
}

.curr-container {
    max-width: 1400px;

    display: flex;
    justify-content: space-between;

    margin: 64px auto 0;
}

.curr-container .currency {
    background: white;
    width: 370px;
    height: 433px;

    padding: 0 24px;
    border-radius: 20px;

    box-shadow: 4px 8px 12px 2px rgba(57, 23, 119, 0.13);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.currency .curr-img {
    margin: 48px 0;
}

.currency .curr-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.currency .curr-name .abreviation {
    color: #BDBDBD;
    font-weight: 500;
}

.currency p {
    margin: 16px 0 25px;
}

.currency .btn-circle {
    display: grid;
    place-items: center;
}